<div class="container">
  <div class="row">
    <input #find class="form-control input-sm" placeholder="Client name" style="width:240px;"/>
    <button (click) = 'sendForFind(find.value)' class="btn btn-primary btn-sm"> Search </button>
    
    <button (click)="loadTableData()"> Load Data</button>
    <br><br>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>id</th>
              <th>Client name</th>
              <th>Amount</th>
              <th>Timestamp</th>
              <th>Input date</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let data of DataArray">
              <th>{{ data.id }}</th>
              <td><a href="/getclient/{{data.clientName}}">{{ data.clientName }}</a></td>
              <td>{{ data.amount}}</td>
              <td>{{ data.timestamp}}</td>
              <td>{{ data.inputDate}}</td>
              <td>{{ data.source}}</td>
            </tr>
            
          </tbody>
        </table>

  </div>
</div>

